HELP.md
target/
!projectCRUD/projectCRUD/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
../../.idea
*.iws
*.iml
*.ipr
*.lst
.txt
.idea
*.class
*.jar
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.txt

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

kafka/kafka/target/surefire-reports/TEST-br.com.kafka.api.KafkaApplicationTests.xml
